<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div>
      
            <h1 class="name">High Scholar Key</h1>
        
        <nav class="nav nav-tabs">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link "  href="/aboutus" >About Us</a>
            <a class="nav-item nav-link " href="/curriculum">Curriculum</a>
            <a class="nav-item nav-link" href="/contactus">Contact Us</a>

        </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <p>Quick Links</p>
        </div>
        <div>
            <a>Join Us</a><br/>
            <a>Curriculum</a>
        </div>
    </footer>
</body>
</html>
